body {
    padding-bottom: 30px;
}

.navbar-header .navbar-brand {
    position: relative;
    padding-left: 51px;
}

.navbar-header .navbar-brand::before {
    content: "";
    position: absolute;
    background-image: url('../img/logo.png');
    width: 32px;
    height: 45px;
    left: 5px;
    top: 5px;
}

.clear {
    clear: both;
}

.list-head {
    text-align: right;
    padding: 4px 8px;
    background-color: #E1E1E1;
}

.list-head .element.selected {
    font-weight: bold;
}

.list {
    color: rgba(0, 0, 0, 0.87);
}

.list .element {
    padding: 4px 8px;
    background-color: #EEE;
}

.list .element .video-thumbnail {
    float: left;
    margin-right: 4px;
    width: 80px;
    height: 60px;
    overflow: hidden;
    background-color: white;
}

.list .element .title {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.list .element .title a {
    color: rgba(0, 0, 0, 0.87);
}
.list .element .title a:visited {
    color: #777;
}
.list .element .title a:hover {
    text-decoration: none;
}

.list .element .info {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.list .element .description {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.list-foot {
    text-align: center;
    padding: 4px 8px;
    background-color: #E1E1E1;
}
