{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/appmain/css/bootstrap.min.css'
        'bundles/appmain/css/bootstrap.theme.css'
        'bundles/appmain/css/main.css'
        filter='cssrewrite'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@AppMainBundle/Resources/public/js/jquery-2.1.3.min.js'
        '@AppMainBundle/Resources/public/js/bootstrap.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {{ render(controller('AppMainBundle:Menu:menu')) }}
    <div id="content" class="container">
        {% block flashMessage %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
