{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppMainBundle/Resources/public/js/jquery-2.1.3.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% block flashMessage %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block content %}{% endblock %}
{% endblock %}
