{% extends 'AppMainBundle::layout.html.twig' %}

{% block content %}
Hello!
<br />
You can submit a world record using <a href="{{ path('app_main_submission_submit') }}">this link</a>.
{% endblock %}
